@font-face {
    font-family: 'mine';
    src: url('../fonts/minecraft_font.ttf') format('truetype'); /* Altere o formato se necessário */
}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Adicionando fonte fallback */
    line-height: 1.6;
    background-image: url('../img/imagemDeFundo.jpg'); /* Caminho correto */
    color: #000000;
}

header {
    background: #002144;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

section {
    background: #fff;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}
#apresentação{
    margin-left: 50px;
}
#portfolio{
    margin-right: 50px;
}
#video{
    margin-left: 50px;
}
#contatos{
    margin-right: 50px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    margin-left: 100px;
    width: 500px;
}

.portfolio-item {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.imagem-formaçao{
    width:600px;
    margin-bottom: 0%;
}

.imagemTeste {
    width: 10px;
}

.linkCurriculo {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #007bff;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
