/* Estilização geral do corpo da página */
@font-face {
    font-family: 'Fira Code'; /* Nome que você vai usar para referenciar a fonte */
    src: url('fonts/FiraCode-Regular.ttf') format('truetype');
}

body {
    
    font-family:"Fira Code" ; /* Fonte padrão */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
    background-color: #033d48;
}
/* Estilização do cabeçalho */
header {
    background-color: #a600ff; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto do cabeçalho */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

section {
    display: flex; /* Adiciona o display flex */
    padding: 20px; /* Espaçamento interno */
    margin: -20px; /* Margem externa */
    background-color: #033d48; /* Cor de fundo da seção */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 60px;
}


/* Estilização dos títulos da seção */
h2 {
    color: #007bff; /* Cor dos títulos */
}

/* Estilização dos links */
a {
    text-decoration: none; /* Remove o sublinhado */
    color: #007bff; /* Cor dos links */
}

/* Mudança de cor dos links ao passar o mouse */
a:hover {
    color: #0056b3; /* Cor do link ao passar o mouse */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}
img{
    height: 50px;
    
}


/* Estilização do rodapé */
footer {
    text-align: center;
    padding: 10px 0;
    background: #007bff;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}


